@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family:'Quicksand', sans-serif ;
}
:root{
    --pading-container:100px 0px;
    --color-title: rgb(201, 64, 14);
}
/*----HEADER----*/
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--pading-container);
}
.hero{
    color: white;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../img/AdobeStock_317724775.jpeg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 95%, 0 66%);
    z-index: -1;
}
.nav{
    --pading-container:0px;
    display: flex;
    justify-content: space-between;

}

.nav-ls{
    margin-left: auto;
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 2em;
}
.nav-link{
    color: white;
    transition: 0.5s;
}
.nav-link:hover{
    color: rgb(212, 60, 5);
}
.hero-container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-items: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}
.hero-container div h1{
    font-size: 35px;
}
.hero-container div p{
    font-size: 20px;
}
/*----MAIN-----*/
.separador h2{
    color: white;
    text-align: center;
}
.separador{
    background-color: black;
    padding: 10px;
    margin: 10px;
}
.catalogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container .imagenes-arriba{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}
.imagenes-arriba .grid-item2 h3{
    position: absolute;
    bottom: 0;
    padding: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.482);
    text-align: center;
}
.imagenes-arriba .grid-item2{
    width: 35vw;
    height: 40vh;
    position: relative;
}
.imagen-abajo h3{
    position: absolute;
    bottom: 0;
    padding: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.482);
}
.imagen-abajo{
    position: relative;
    width: 90vw;
    height: 32vh;
}
.grid-container .imagenes-arriba .grid-item2 .img1{
    width: 35vw;
    height: 40vh;
    border: 2px solid black;
    object-fit: cover;
    transition: 1s;
}
.img1:hover{
    transform: scale(1.1);
}

.grid-container .imagen-abajo .img2{
    width: 90vw;
    height: 32vh;
    border: 2px solid black;
    object-fit: cover;
    transition: 0.5s;
}
.img2:hover{
    transform: scale(1.1);
}











/*----FOOTER----*/
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cartas-de-info{
border: 1px solid black;
width: 250px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.cartas-de-info img{
    width: 130px;
    height: 130px;
}

/*-----Suplementos-----*/

.hero-suplementos{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../img/AdobeStock_328690091.jpeg);
    clip-path: polygon(0 0, 54% 0, 100% 0, 100% 50%, 50% 85%, 0 50%);
    background-size: cover;
    z-index: 1;
}
.nav-ls a{
    color: white;
}
.navLogo{
    color: white;
}
.flexBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-suplementos{
    color: white;
}
.hero-parrafo{
    color: white;
}
.Productos-Proteinas{
    padding-top: 500px;
    padding-bottom: 600px;
    width: 100%;
    height: 2000px;
    
}
.productosCards{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-auto-rows: 650px;
    
}
.tarjeta-flexbox{
    margin: 30px;
    padding: 20px;
}
.div-boton-eliminar{
    display: flex;
    justify-content: right;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.botonInformacion{
    margin: 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition:1s;
    background-color: orangered;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

.botonInformacion:hover{

    transform: scale(1.1);
}
.popup-content {
    display: none;
    background-color: rgb(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mostrar-popup {
    
    display: block;
}



.parrafo-de-producto{
    color: black;
}
.productosEnElCarrito{
    margin-top: 450px;
}
.tarjetaProducto{
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin: 15px;
}
.carritoProductos{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-auto-rows: 650px;
}
#carritoProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}